<ul class="select-year">
  <li class="waves-effect">
    <a (click)="previusMonthYear()">
      <i class="material-icons">chevron_left</i>
    </a>
  </li>
  <li class="waves-effect">
    <a (click)="showModalMonth()">{{ monthYear.month }}</a>
  </li>
  <li class="waves-effect">
    <a (click)="showModal()">{{ monthYear.year }}</a>
  </li>
  <li class="waves-effect">
    <a (click)="nextMonthYear()">
      <i class="material-icons">chevron_right</i>
    </a>
  </li>
  <li class="waves-effect">
    <a (click)="today()">TODAY</a>
  </li>
</ul>

<table class="centered responsive-table month">
  <thead>
    <tr>
      <th *ngFor="let day of weekdays">{{ day }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dayOfMonth of month">
      <td><a [class.active]="dayOfMonth[0]?.current" [class.selected]="dayOfMonth[0]?.selected"
          (click)="selectedDate(dayOfMonth[0])">{{ dayOfMonth[0]?.day }}</a></td>
      <td><a [class.active]="dayOfMonth[1]?.current" [class.selected]="dayOfMonth[1]?.selected"
          (click)="selectedDate(dayOfMonth[1])">{{ dayOfMonth[1]?.day }}</a></td>
      <td><a [class.active]="dayOfMonth[2]?.current" [class.selected]="dayOfMonth[2]?.selected"
          (click)="selectedDate(dayOfMonth[2])">{{ dayOfMonth[2]?.day }}</a></td>
      <td><a [class.active]="dayOfMonth[3]?.current" [class.selected]="dayOfMonth[3]?.selected"
          (click)="selectedDate(dayOfMonth[3])">{{ dayOfMonth[3]?.day }}</a></td>
      <td><a [class.active]="dayOfMonth[4]?.current" [class.selected]="dayOfMonth[4]?.selected"
          (click)="selectedDate(dayOfMonth[4])">{{ dayOfMonth[4]?.day }}</a></td>
      <td><a [class.active]="dayOfMonth[5]?.current" [class.selected]="dayOfMonth[5]?.selected"
          (click)="selectedDate(dayOfMonth[5])">{{ dayOfMonth[5]?.day }}</a></td>
      <td><a [class.active]="dayOfMonth[6]?.current" [class.selected]="dayOfMonth[6]?.selected"
          (click)="selectedDate(dayOfMonth[6])">{{ dayOfMonth[6]?.day }}</a></td>
    </tr>
  </tbody>
</table>

<div id="modal1" class="modal" [modal]="detalheOption" [(open)]="openModal">
  <div class="modal-content">
    <ul class="grid-year center">
      <li *ngFor="let year of listYears">
        <ul>
          <li class="waves-effect">
            <a (click)="selectedYear(year[0])">{{ year[0] }}</a>
          </li>
          <li class="waves-effect">
            <a (click)="selectedYear(year[1])">{{ year[1] }}</a>
          </li>
          <li class="waves-effect">
            <a (click)="selectedYear(year[2])">{{ year[2] }}</a>
          </li>
          <li class="waves-effect">
            <a (click)="selectedYear(year[3])">{{ year[3] }}</a>
          </li>
          <li class="waves-effect">
            <a (click)="selectedYear(year[4])">{{ year[4] }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div id="modal1" class="modal" [modal]="detalheOptionMonth" [(open)]="openModalMonth">
    <div class="modal-content">
      <ul class="grid-year center">
        <li *ngFor="let month of listMonths">
          <ul>
            <li class="waves-effect">
              <a (click)="selectedMonth(month[0])">{{ month[0] }}</a>
            </li>
            <li class="waves-effect">
              <a (click)="selectedMonth(month[1])">{{ month[1] }}</a>
            </li>
            <li class="waves-effect">
              <a (click)="selectedMonth(month[2])">{{ month[2] }}</a>
            </li>
            <li class="waves-effect">
              <a (click)="selectedMonth(month[3])">{{ month[3] }}</a>
            </li>
            <li class="waves-effect">
              <a (click)="selectedMonth(month[4])">{{ month[4] }}</a>
            </li>
            <li class="waves-effect">
              <a (click)="selectedMonth(month[5])">{{ month[5] }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

<router-outlet></router-outlet>
