<ul class="select-year">
  <li class="waves-effect">
    <a (click)="previusMonthYear()">
      <i class="material-icons">chevron_left</i>
    </a>
  </li>
  <li class="waves-effect">
    <a (click)="showModalMonth()">{{ monthYear.month }}</a>
  </li>
  <li class="waves-effect">
    <a (click)="showModalYear()">{{ monthYear.year }}</a>
  </li>
  <li class="waves-effect">
    <a (click)="nextMonthYear()">
      <i class="material-icons">chevron_right</i>
    </a>
  </li>
  <li class="waves-effect">
    <a (click)="today()">TODAY</a>
  </li>
</ul>

<table class="centered responsive-table month">
  <thead>
    <tr>
      <th *ngFor="let day of weekdays">{{ day }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dayOfMonth of month">
      <td *ngFor="let day of dayOfMonth">
        <a [class.active]="day?.current" [class.selected]="day?.selected" (click)="selectedDate(day)">{{ day?.day }}</a>
      </td>
    </tr>
  </tbody>
</table>

<div id="modalYear" class="modal" [modal]="modalOptionsYear" [(open)]="openModalYear">
  <div class="modal-content">
    <ul class="center change-range">
      <li class="waves-effect">
        <a (click)="lessTableYear()"><i class="material-icons">expand_less</i></a>
      </li>
      <li class="waves-effect">
        <a (click)="moreTableYear()"><i class="material-icons">expand_more</i></a>
      </li>
    </ul>
    <ul class="grid-year center">
      <li *ngFor="let year of years">
        <ul>
          <li class="waves-effect" *ngFor="let line of year">
            <a (click)="selectedYear(line)">{{ line }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div id="modalMonth" class="modal" [modal]="modalOptionsMonth" [(open)]="openModalMonth">
  <div class="modal-content">
    <ul class="grid-year center">
      <li *ngFor="let month of months">
        <ul>
          <li class="waves-effect" *ngFor="let line of month">
            <a (click)="selectedMonth(line?.id)">{{ line?.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div id="modalDay" class="modal" [modal]="modalOptionsDay" [(open)]="openModalDay">
  <div class="modal-content">
    <h4>{{ daySelected?.dateFull | date:'fullDate' }}</h4>
    <table>
      <tbody>
        <tr *ngFor="let hour of daySelected?.hours">
          <td>{{ hour.hour }} hr</td>
          <td colspan="3">teste</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
